<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} E-commerce Market Place
        </title>

        <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    </head>

    <body>
        
        <nav class="navbar is-black">
            <div class="navbar-brand">
                <a href="/home" class="navbar-item">Market Place</a>
                <a href="/categories" class="navbar-item">Categories</a>
                <a href="/recommended" class="navbar-item">Recommended</a>
                <a href="/about" class="navbar-item">About</a>
                
                {% block navbar %}{% endblock %}

                <a role="button" class="navbar-burger" class="is-active" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    <div class="navbar-item">{% block navstart %}{% endblock %}</div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">{% block navend %}{% endblock %}</div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
            
        </nav>
        
        

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        <footer class="footer">
            <!--h3 class="is-size-4 nb-4">Market Place</h3-->{% block footer %}{% endblock %}
            <a href="#">Sell</a>
        </footer>
    </body>
</html>