<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} E-commerce Market Place
        </title>

        <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    </head>

    <body>
        
        <nav class="navbar is-black">
            <div class="navbar-brand">
                <a href="/home" class="navbar-item"><strong>Market Place</strong></a>
                <a href="/categories" class="navbar-item">Categories</a>
                <a href="/recommended" class="navbar-item">Recommended</a>
                <a href="/about" class="navbar-item">About</a>
                
                {% block navbar %}{% endblock %}

                <a role="button" class="navbar-burger" class="is-active" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    <div class="navbar-item">example</div></div>
                <div class="navbar-end">
                    <div class="navbar-item"><input type="text" placeholder="..."></div>
                </div>
            </div>
            
        </nav>
        
        

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        <footer class="footer">
            <!--h3 class="is-size-4 nb-4">Market Place</h3-->
            <a href="#">Sell</a>
        </footer>
    </body>
</html>