{% extends 'ecommerce/base.html' %}
{% include "blog/_breadcrumbs.html" with ancestors=object.category.get_ancestors object=object%}

{% load mptt_tags %}

{% block title %}List of categories{% endblock %}


{% block content %}
<p>categories will be on this page</p>

<div>
    <div>
	<ul>
	
	    <li>
		<a href="{{node.get_absolute_url}}">{{node.name}}</a>
		{% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
		{% endif %}
	    </li>
	
	</ul>
    </div>
</div>


{% endblock %}